  <head>
    <meta charset="UTF-8" />
    <title>KeyScript IDE - Corelation Inc.</title>
    <link rel="icon" type="image/png" href="images/logo-corelation.png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext-3.2.2/resources/css/ext-all.css?Rev=2022_03_00v01.02.dncutest6_4958"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/ext-3.2.2/resources/css/structure/core.css?Rev=2022_03_00v01.02.dncutest6_4958"
    />
    <script type="text/javascript">
      window.CRRev = "2022_03_00v01.02.dncutest6";
      window.CRCB = "2022_03_00v01.02.dncutest6_4958";
      window.CR = window.CR || {};
      CR.Core = CR.Core || {};
      CR.Login = CR.Login || {};
      CR.Script = CR.Script || {};
      CR.KeyStoneService = CR.KeyStoneService || {};
      CR.Core.extBaseURL = "../ext-3.2.2";
      CR.Core.keyStoneWebAppURL = "http://localhost:{{ hostPort }}/{{ instance }}/";
    </script>
    <script
      type="text/javascript"
      src="/ext-3.2.2/adapter/ext/ext-base-debug-w-comments.js?Rev=2022_03_00v01.02.dncutest6_4958"
    ></script>
    <script
      type="text/javascript"
      src="/ext-3.2.2/ext-all-debug-w-comments.js?Rev=2022_03_00v01.02.dncutest6_4958"
    ></script>
    <script
      type="text/javascript"
      src="/KeyScript/js/keyscript-all.js?Rev=2022_03_00v01.02.dncutest6_4958"
    ></script>
    <script type="text/javascript">
      CR.KeyStoneService.SERVICE_BASE_URL = "{{ serviceBaseUrl }}";
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/KeyScript/css/keyscript-all.css?Rev=2022_03_00v01.02.dncutest6_4958"
    />
  </head>
